/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Globals */
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background-image: url(./image/photo-1650735310415-392ab5378954.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */

}

.todo-container {
    width: fit-content;
    margin: auto;
    margin-top: 200px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
}

#add-form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    
   
}

#todo-input {
    padding: 5px 10px;
    width: 75%;
    border-radius: 5px;
}

#todo-btn {
width: 25%;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
}

#todo-btn:hover {
    background-color: orangered;
    color: white;
}

.boxes-container {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.box {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    /* width: 100%; */
}

.task {
    background-color: darkslategrey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid black;
    cursor: move;

}

/*  ضيفت العنصر دا من الجافاسكريبت */
.task.is-dragging {
    background-color: orangered;
    color: white;
}